<div class="flex flex-col items-center justify-center flex-1 w-full h-screen p-6 rounded-lg shadow-md bg-gray-50 ">
    <div class="flex-1 w-1/2 p-6 text-center bg-white rounded-lg shadow-md max-h-120 ">
      <h2 class="text-lg text-5xl font-bold">Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
   
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "border w-1/3 rounded-md px-4 py-2 mb-5",placeholder:"eamil",autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
     
     
  </div>

  <div class="field">
   
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "border w-1/3 rounded-md px-4 py-2 mb-5",placeholder:"new password" %>
  </div>

  <div class="field">
    
    <%= f.password_field :current_password, autocomplete: "current-password",class: "border w-1/3 rounded-md px-4 py-2 mb-5",placeholder:"current password" %>
  </div>

  <button class="w-1/3 px-4 py-2 mt-5 text-lg font-semibold text-purple-600 bg-purple-200 rounded-lg cursor-pointer actions hover:bg-purple-300">
    <%= f.submit "Update" %>
  </button>
<% end %>


<%= button_to "Delete Account!", registration_path(resource_name), data: { confirm: "Are you sure? This  will as well delete all records and resources related to this account!!!", turbo_confirm: "Are you sure? This  will as well delete all records and resources related to this account!!!" }, method: :delete, class: "w-1/4 px-4 py-2 mt-5 text-lg font-semibold text-red-600 bg-red-200 rounded-lg cursor-pointer hover:bg-red-300" %> 

<%= link_to "Back", :back %>

      </div>
</div>


 

